.td-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.id-img {
    width: 80px;
    height: 80px;
    animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}